<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navBar"></nav>
<div class="container">
    <div th:if="${deleteTodoItemSuccess}" class="alert alert-info alert-dismissible fade show" role="alert">
        <p class="text-center" th:text="#{todoItem.deleteTodoItemSuccess}">TODO uspjesno obrisan!</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${updateTodoItemSuccess}" class="alert alert-info alert-dismissible fade show" role="alert">
        <p class="text-center" th:text="#{todoItem.updateTodoItemSuccess}">TODO uspjesno ažuriran!</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${createTodoItemSuccess}" class="alert alert-info alert-dismissible fade show" role="alert">
        <p class="text-center" th:text="#{todoItem.createTodoItemSuccess}">TODO uspjesno kreiran!</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <a class="btn btn-primary mt-4" th:href="@{/todo/create}">Add TODO</a>
    <div class="mt-4">
        <h2>List of TODOs</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Date of creation</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${todoList.empty}">
                <td colspan="2" th:text="#{todoList.empty.message}">You have no todo items!</td>
            </tr>
            <tr th:each="todoItem : ${todoList}">
                <td><span th:text="${todoItem.description}"> Description </span></td>
                <!--<td><span th:text="${todoItem.creationDate}"> Creation Date </span></td>-->
                <td><span th:text="${#temporals.format(todoItem.creationDate, 'dd.MM.yyyy HH:mm')}"></span></td>
                <td>
                    <button class="btn btn-secondary">Edit</button>
                    <a class="btn btn-danger" style="padding: 4.6%" th:href="@{/todo/delete/(id=${todoItem.id})}" th:text="#{label.delete}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
