<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/navBar"></nav>
<div class="container">
    <!--<button class="btn btn-primary mt-4" th:href="@{/todo/create}">Add TODO</button>-->
    <a class="btn btn-primary mt-4" th:href="@{/todo/create}">Add TODO</a>
    <div class="mt-4">
        <h2>List of TODOs</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Date of creation</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${todoList.empty}">
                <td colspan="2" th:text="#{todoList.empty.message}">You have no todo items!</td>
            </tr>
            <tr th:each="todoItem : ${todoList}">
                <td><span th:text="${todoItem.description}"> Description </span></td>
                <!--<td><span th:text="${todoItem.creationDate}"> Creation Date </span></td>-->
                <td><span th:text="${#temporals.format(todoItem.creationDate, 'dd.MM.yyyy HH:mm')}"></span></td>
                <td>
                    <button class="btn btn-secondary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
